# Copy this file to `.env`
# It should be ignored by git, and would allow us change settings without manually switching constant.py

# Uncomment the correct one

DEV_NUM=1  # Default
# DEV_NUM=3  # Michael
# DEV_NUM=5  # Ron
# DEV_NUM=7  # Tom
# DEV_NUM=8  # MinYe
